.restaurant-page-main-container{
  /* 2 immediate childs ONLY: all content of restaurant page feature 2 and FOOTER */
  display:flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100%;
  width: 100%;
}

.restaurant-page-main-content-and-footer-container{
  display: flex;
  height: 100%;
  width:100%;
  display:flex;
  flex-direction: column;
  background-color: lightpink;
}

.restaurant-page-main-content-top-outer-container{
  display:flex;
  flex-direction: row;
  width:100%;
  height: 100%;
}

/* this controls the width of all content (will change after you put orders pane in */
.restaurant-page-main-content-container{
  height: fit-content;
  width: 60em;
  /* margin-top:50px;dd */
  margin: auto
}

.restaurant-page-pic{
  width: 100%;
  height: 250px;
  object-fit: cover;
  border-radius: 15px;
}

.restaurant-page-logo-pic-container{
  height: 8em;
  width: 8em;
}

.restaurant-page-logo-pic{
  /* width: 190px;
  height: 190px;
  background-color: green; */
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 50%;
  background-position: center;
  border: 1.5px solid #E7E7E7;

}

.restaurant-page-description-container{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 80px;
  border-bottom: 1.5px #E7E7E7 solid;
  /* background-color: lightcyan; */
}



.restaurant-page-bottom-container{
  height: 45em;

}

.food-item-pic{
  width: 170px;
  height: 100%;
  object-fit: cover;
}

.food-items-grid-container{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(auto-fill);
  overflow-y: auto;
  height: 88%;
  grid-column-gap: 20px;
  grid-row-gap: 20px;
  grid-auto-rows: 140px;
  grid-auto-columns: auto 100px ;

}

.food-item-card-container{
  border: 1.1px #D6D6D6 solid;
  background-color: white;
  height: 142px;
  display: flex;
  flex-direction: row;
  border-radius: 6px;

}

.food-item-left-container{
  width: 100%;
  display: flex;
  flex-direction: column;
  /* flex-wrap: no; */
  justify-content: space-evenly;
  padding-left: 10px;
}

.food-item-right-container{
  /* background-color: lightcoral; */
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  width: 30%;
}

.restaurant-page-name{
  font-size: 20px;
  font-weight: 700;

}

div.restaurant-page-update-delete-buttons-container{
  display: flex;
  flex-direction: row;
  /* margin-left:40em; */
  /* width: 4em; */
  /* width: 230px; */
  height: 100%;
  justify-content: space-between;

}

.restaurant-page-update-button.button{
  border: none;
  background-color: lightcoral;
  color: white;
  border-radius: 1000px;
  width: 100px;
  height: 35px;
  display:flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  font-size: 14px;
  text-align: center;
}

.restaurant-page-create-food-item-button.button{
  border: none;
  background-color: lightcoral;
  color: white;
  width: 100px;
  height: 35px;
  border-radius: 1000px;
  display:flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 14px;
}

.restaurant-page-delete-button.button{
  border: none;
  background-color: lightcoral;
  color: white;
  width: 100px;
  height: 35px;
  border-radius: 1000px;
  display:flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  font-size:14px;
  font-weight: 400;
}

.button{
  border: none;
  background-color: #E7E7E7;
  color: black;
  border-radius: 5px;
  display:flex;
  justify-content: center;
  align-items: center;
  /* border */
}

.restaurant-page-hours-container{
  width: 200px;
  display:flex;
  justify-content: flex-start;
}

.navlink{
  text-decoration: none;
  color: black;
}


.restaurant-page-middle-container{
  display: flex;
  /* background-color: lightgoldenrodyellow; */
  /* position: absolute;
  top: 0px; */
  flex-direction: column;
  align-items: flex-start;
}

.filter-food-item-category-container{
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  width: 100%;
  margin-top: 50px;
  /* background-color: pink; */
  height: 25px;
  width: 100%;
  align-items: center;
  border-bottom:1.5px #E7E7E7 solid ;

}

.not-first-category{
  margin-left: 30px;
}

.restaurant-page-category-container{
  display:flex;
  /* background-color: lightgreen; */
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  font-weight: 700;
}

.restaurant-page-category-selection-bar{
  height: 20%;
  width: 100%;
  background-color: lightsalmon;
}


.checkout-button-container{
  width: 13em;
  display: flex;
  justify-content: center;
  align-items: center;
}

.checkout-button{
  display: flex;
  justify-content: space-around;

}

.cart-pane-food-items-container{
  height: 100%;
  background-color: lightblue;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.category-name-container{
  height: 8%;
  display: flex;
  align-items: center;
}

.delete-food-item-button{
  width: 40px;
  height: 40px;
}

.edit-food-item-button {
  width: 40px;
  display: flex;
  justify-content: center;
  /* align-items: center; */
  height: 40px;
}

.fa-solid.fa-pen-to-square{
  height:100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.no-food-items-container{
  /* background-color: lightblue; */
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;

}


/* .no-food-items-container{
  background-color: lightblue;
  width:57em;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 100px;

} */

.no-food-items-main-container{
  /* background-color: lightblue; */
  width:57em;
  /* height: 100%; */
  display: flex;
  align-items: center;
  justify-content: center;
  height:77%;
}
