.create-food-item-form-container{
  /* background-color: lightblue; */
  height: 100vh;
  width: 55em;
  margin: auto
}

.create-food-item-food-pic{
  height: 100%;
  min-height: 430.883px;
  max-height: 430.883px;
  width: 100%;
  object-fit: cover;

}

.create-food-item-content-container{
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 30em;
  justify-content: space-between;

}

.create-food-item-left-container{
  width: 40%;
  height:100%;
  /* background-color: lightsalmon; */
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  /* align-items: flex-start; */
}

.food-item-price-category-container{
  /* background-color: lightcyan; */
  display: flex;
  justify-content: space-between;
}

.create-food-item-right-container{
  width: 60%;
  height:100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin-left: 2em;
}

.create-food-item-container{
  /* background-color: lightpink; */
  /* height: 380px;
  width: 400px; */
  height:100%;
  width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: center;
}

.create-food-item-button{
  border: none;
  background-color: lightcoral;
  color: white;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 32px;
  width: 57px;
}

.create-food-item-submit-container{
  width:100%;
  /* background-color: lightblue; */
  /* margin-top: 90px; */
  height: 100%;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
}

.create-food-item-label-input-container{
  display:flex;
  flex-direction: column;
  /* align-items: flex-start; */
}

.not-top-food-item{
  margin-top: 50px;
}


/*
.restaurant-page-logo-pic{
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 50%;
  background-position:center;
  border: 0.5px solid
} */

.food-item-input{
  height: 2em;
}


.validation-errors{
  color:red;
  /* list-style:none; */
  padding-left: 0;
}
