.restaurant-main-grid-container{
    margin-top: 50px;
    /* background-color: lightgreen; */
    width:71.5em;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(auto-fill) ;
    grid-column-gap: 1em;
    margin: auto;
    /* background-color: lightcoral; */
    grid-row-gap: 2em;
    height: fit-content;
}


/* style={{width: "57rem", margin:"auto", backgroundColor: "lightblue"}} */
.restaurant-filtered-main-grid-container{
  margin-top: 100px;
  /* background-color: lightgreen; */
  width:71.5em;
  height: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(auto-fill) ;
  grid-column-gap: 1em;
  margin: auto;
  /* background-color: lightcoral; */
  grid-row-gap: 2em;
  height: fit-content;

}

.restaurant-category-title{
  width: 71.5rem;
  margin: auto;
  margin-top:1.1em;
  margin-bottom: 1em;

}


.get-restaurants-pic-container{
  height: 180px;
  min-height:  180px;
  max-height: 180px;
  border-radius: 5px;
}


.get-restaurants-pic{
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 5px;


}

.restaurants-categories-container{
  display: grid;
  width: 71.5em;
  margin: auto;
  grid-template-columns: repeat(12, 1fr);
  margin-bottom: 1.2em;
  margin-top:1.2em;
  position: relative;
  top: 48px;
  /* z-index: -2; */
}


.category-selection-icon-containers{
  display:flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 5em;;
  /* background-color: lightcyan; */
  height: 5em;
}

.restaurants-no-items-display{
  width:71.5em;
  height: 30em;
  /* background-color: lightcyan; */
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
}

.get-restaurants-filter-price-stars-time-container{
  /* background-color: lightgoldenrodyellow; */
  /* color:white; */
  width: 71.5em;
  margin: auto;
  display: flex;
  position: sticky;
  top: 61px;
  background-color: white;
  padding: 15px 0px;
  margin-top: 50px;
}

.star-rating-filter-container{
  background-color: black;
  color: white;
  width: 8.5em;
  height: 40px;
  border-radius: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 550;
  cursor: pointer;
}

.price-filter-container{
  background-color: black;
  color: white;
  width: 5.8em;
  height: 40px;
  border-radius: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 550;
  cursor: pointer;
}

.get-restaurants-star-rating-filter-left-container{
  /* background-color: lightblue; */
  width: 80%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.get-restaurants-star-rating-filter-right-container{
  display: flex;
  height: 100%;
  width: 20%;
  align-items: center;

}

.get-restaurants-price-filter-right-container{
  display: flex;
  height: 100%;
  width: 20%;
  align-items: center;
  justify-content: center;
  /* background-color: lightcoral; */
  margin-left: 10px;
}


.get-restaurants-bottom-text-container{
  /* background-color: lightblue; */
  /* margin-top: -10px; */
  height: 4.4em;
  display: flex;
  margin-top: 1.4em;
  flex-direction: column;
  justify-content: space-between;
  /* display: flex;
  flex-direction: column;
  justify-content: space-between; */
}

.get-restaurants-bottom-text-row{
  width: 100%;
  height: 33.333333%;
  /* background-color: lightgoldenrodyellow; */
  display: flex;
  justify-content: flex-start;
  text-overflow: ellipsis;
}

.fa-solid.fa-star{
  display: flex;
  align-items: center;
  margin-right: 10px;
  margin-left: 3px;
}

.text-top-row{
  font-weight: 700;
}

.not-top-row{
  color: rgb(118, 118, 118);
  font-weight: 500;
  letter-spacing: 0ch ;
  font-size: 15px;
}

.get-restaurants-filtered-results-number-container{
  /* background-color: lightblue; */
  height: 4rem;
  width: 71.5rem;
  margin: 10px auto;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  line-height: 24px;
   font-size: 20px;
  font-weight: 700;
}
