.restaurant-main-grid-container{
    margin-top: 50px;
    /* background-color: lightgreen; */
    width:57em;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(auto-fill);
    grid-column-gap: 1em;
    margin: auto;

}
.get-restaurants-pic-container{
  height: 160px;
  min-height:  160px;
  max-height: 300px;
}

/* adding...dsfsd */
.restaurant-card-container{

}


.get-restaurants-pic{
  height: 100%;
  width: 100%;
  object-fit: cover;

}

.restaurants-categories-container{
  display: flex;
  width: 100vw;
  justify-content: space-evenly;

}

/* .fa-solid.fa-star{
  height:2px;

} */
