.order-confirmation-main-container{
  height: 100%;
  display: flex;
  flex-direction: row;
}


.order-confirmation-content-outer-container{
  width: 83%;
  height: 100%;
  background-color: lightblue;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  align-items: center;
}

.account-details-container{
  background-color: white;
  border: 1px #E7E7E7 solid;
  border-radius: 5px;
  width: 32em;
  height: 3em;
}

.shipping-details-container{
  width: 32em;
  background-color: white;
  border: 1px #E7E7E7 solid;
  border-radius: 5px;
  height: fit-content;
  margin-top: .9em;
  justify-content: flex-start;
  align-items: center;
  display: flex;
  flex-direction: column;
}

.payment-details-container{
  background-color: white;
  height: 3em;
  width: 32em;
  border-radius: 5px;
}


.order-confirmation-right-pane{
  width: 23em;
  background: lightgreen;
}

.payment-details-container-toggle-false{
  background-color: white;
  height: 3em;
  width: 32em;
  border-radius: 5px;
  box-sizing: border-box;
  margin-top: -5px;
}

.payment-details-container-toggle-true{
  background-color: white;
  height: 8em;
  width: 32em;
  border-radius: 5px;
  box-sizing: border-box;
  margin-top: -5px;
}

input[type="radio"]{
  /* display:none */
  background-color: yellowgreen;
}

.shipping-details-container-excluding-title{
  width: 29em;
  margin:auto;
  background-color: lightsalmon;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.delivery-pickup-container{
  background-color: lightseagreen;
  width: 100%;
  height: 2em;
  display: flex;
  align-items: center;
  justify-content: center;
}
.delivery-time-container{
  background-color: lightcyan;
  height: 3.2em;
  width: 100%;
  font-weight: 700;
  display: flex;
  justify-content: space-around;
  /* padding-left:2em ; */
  box-sizing: border-box;
}

.order-confirmation-address-container{
  background-color: lightgoldenrodyellow;
  height: 4.6em;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  box-sizing: border-box;
}



.order-confirmation-address-input{
  background-color: lightgoldenrodyellow;
  height: 3.2em;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: row;
  box-sizing: border-box;
}

.delivery-option-container{
  width: 100%;
  background-color: lightcyan;
  height: 3.2em;
  display: flex;
  justify-content: center;
  align-items: center;
}

.order-confirmation-phone-number-container{
  width: 100%;
  background-color: lightsalmon;
  height: 3.2em;
  display: flex;
  justify-content: flex-start;
}

.fa-solid.fa-phone{
  display: flex;
  align-items: center;
  width: 50px;
  justify-content: center;
}
