.cart-pane-main-container{
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  /* copied from actual website */
  box-shadow: rgb(0 0 0 / 20%) 0px 8px 50px;
  width: 355px;
  height: 100vh;
  overflow: auto;
  /* padding-top: 72px; */
  background-color: rgb(255, 255, 255);
  /* background-color: lightcyan; */

  /* USE REACT LIBRARY SLIDING PANE */
  /* transform-origin: left center;
  transition: transform 225ms ease-in-out 0s, opacity 225ms linear 0s;
  transform: translate3d(0%, 0px, 0px) scale(1); */
  opacity: 1;
  z-index: 11;
  position: fixed;
  top: 0px;
  right: 0px;
  box-sizing: border-box;

}

.cart-pane-header-container{
  /* background-color: lightblue; */
  width: 92%;
  margin:auto;
}

.cart-pane-food-items-container{
  height: 100%;
  /* background-color: lightblue; */
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.checkout-button{
  display:flex;
  flex-direction: row;
  flex-wrap: nowrap;
  width: 90%;
  border: none;
  background-color: lightcoral;
  color: white;
  border-radius: 1000px;
  /* width: 100px; */
  height: 40px;
  justify-content:space-around;
  align-items: center;
  cursor: pointer;
  transition: background-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;

}

.checkout-button:hover{
  background-color:#d87373;
  box-shadow: transparent 0px 0px 0px 1px inset;
}


.cart-pane-food-item-card-container{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  height: 6em;
  /* padding-bottom: 10px; */
  border-bottom: 1.5px solid #E7E7E7;
  position: relative;
  z-index: 1000;
  width: 92%;
  margin: 0px auto;
}

.cart-pane-food-item-card-container:hover{
  background-color: #F7F7F7;
}

.cart-pane-food-item-name-price-container{
  width: 60%;
  /* background-color: lightcoral; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  height: 100%;
  box-sizing: border-box;
}

.cart-pane-food-item-delete-container{
  display:flex;
  justify-content: center;
  align-items: center;
  height:100%;
  width: 20%;
  /* background-color: lightcyan; */
}

.cart-pane-quantity-container{
  width: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 6em;

}
.checkout-button-container{
  /* margin-bottom: 1.1em; */
  height: 4em;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  width: 100%;
  border-bottom: 1.5px solid #E7E7E7;
  /* background-color: lightgoldenrodyellow; */
}


.cart-pane-food-item-price-container{
  /* background-color: lightgoldenrodyellow; */
  height: 3em;
  width:100%;
  display: flex;
  align-items: center;
}

.cart-pane-food-item-name-container{
  height:3em;
  width:100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  /* background-color: lightblue; */
}

.cart-pane-food-item-name-text-box{
  /* background-color: lightcoral; */
  width: 100%;
}

.cart-pane-quantity-circle{
  background-color: black;
  color: white;
  height: 1.6em;
  width: 1.6em;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;

}

.empty-cart-pic{
  /* background-color: lightblue; */
  width: 100%;
  margin: auto;
  object-fit: contain;
  height: 20rem;

}

.checkout-ugly-button{
  background-color: lightblue;
  height: 100%;
  display: flex;
  align-items: center;
  border: none;
  /* width: 100%; */

}
