.navbar{
    width: 100%;
    height: 60px;
    display:flex;
    justify-content: space-evenly;
    align-items: center;
    border-bottom: #E7E7E7 1px solid;

}

.navbar-searchbar-outer-container-with-dropdown{
  height: fit-content;
  /* background-color: lightgoldenrodyellow; */
  width: 26.7rem;
  border: 1px solid #DDDDDD;
  border-radius: 10px;
  position: absolute;
  top: .008em;

}



.nav-bar-profile-button{
  cursor:pointer;
}

.fa-solid.fa-burger{
  width: fit-content;
  height: 20px;
  color: lightcoral;
  /* font-weight: 800; */
  /* background-color: lightpink; */
}

.dropdown-container{
     border: 1px solid rgba(55, 43, 43, 0.3);
     position: absolute;
     left: 10%;
     top: 3em;
     width: 12em;
     right: 4em;
     z-index: 1;
     background-color: white;
     height: 8em;
     display: flex;
     flex-direction: column;
     justify-content: space-around;
     border-radius: 3px;
     box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.3);

}

.toggle-cart-panel{
  position: absolute;
  top: 3em;
  right: 1em;
  background-color: lightblue;
  z-index:1;
  overflow-y: auto;
  width: 15em;
}

.cart-button-container{
  cursor: pointer;
  background-color: lightcoral;
  width: 3.5em;
  border-radius: 30px;
  display: flex;
  align-items: center;
  height: 27px;
  justify-content: center;
  position:relative;
  z-index: 100;
  left: 5em;
}



.searchbar-magnify-glass-container{
  width: 10%;
  display: flex;
  align-items: center;
  justify-content:center ;
  border-radius: 500px;
}

.navbar-searchbar-container{
  display: flex;
  justify-content: flex-end;
  height: 40px;
  width: 26.7rem;
  /* background-color: lightgoldenrodyellow; */
  border-radius: 500px;
  background-color: #F7F7F7;
  position:absolute;
  top: 1.1em;
}

.navbar-searchbox{
  border: none;
  background-color: #F7F7F7;
  /* width: 30em; */
  width: 90%;
  height:100%;
  box-sizing: border-box;
  border-radius: 500px;

}

.navbar-menu-logo-container{
  display: flex;
  width: 10em;
  justify-content: space-between;
  align-items: center;
}

.navbar-searchbar-carticon-container{
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 32em;
  margin-right: 0px;
  height: 70px;
}

#navbar-searchfield::placeholder{
  color: rgb(118, 118, 118);
  font-weight: 550;
  font-size: 16px;
  font-family: DD-TTNorms, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  letter-spacing: -0.02ch;
}

#navbar-searchfield{
  padding-left: 5px;
}
