.navbar{
    width: 100%;
    height: 50px;
    /* background-color: lightcoral; */
    display:flex;
    justify-content: space-around;
    align-items: center;
    border-bottom: #E7E7E7 1px solid;
}

.nav-bar-profile-button{
  cursor:pointer;
}

.fa-solid.fa-burger{
  width: fit-content;
  height: 20px;
  color: lightcoral;
  /* font-weight: 800; */
  /* background-color: lightpink; */
}

.dropdown-container{
    /* background-color: lightcyan;
    display: flex;
    flex-direction: column;
    width: 180px;
     */
     border: 1px solid rgba(55, 43, 43, 0.3);
     position: absolute;
     left: .5em;
     top: 3em;
     /* margin-top: 1.4em;
     margin-left: 3000em; */
     width: 12em;
     right: 4em;
     z-index: 1;
     background-color: white;
     height: 8em;
     display: flex;
     flex-direction: column;
     justify-content: space-around;
     border-radius: 3px;
     box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.3);

}
