.food-item-main-container{
  /* background-color: lightblue; */
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  border-radius: 22px;
  box-sizing: border-box;
}

.food-item-modal-pic{
  height: 14em;
  min-height: 14em;
  max-height:14em;
  width: 100%;
  object-fit: cover;
  margin: 26px auto;
  width: 90%;
  /* margin: auto; */
}

.preferences-container{
  /* background-color: lightcoral; */
  height: 9.5em;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
  width: 90%;
  margin:auto

}

textarea.food-item-preference-input{
  background-color:#F7F7F7;
  border: none;
  border-radius: 5px;
  padding: 8px 10px ;
  font-size: 16px;
  font-family: DD-TTNorms, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-weight: 550;
  width: 100%;
  box-sizing: border-box;
  height: 100%;
}

textarea.food-item-preference-input::placeholder{
  color: rgb(118, 118, 118);
  font-weight: 550;
  font-size: 15px;
  font-family: DD-TTNorms, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";

}

.food-item-main-content-container{
  /* background-color: lightblue; */
  display: flex;
  flex-direction:column ;
  justify-content: flex-start;
}

.food-item-name-text{
  padding: 0 25px;
  /* background-color: lightgoldenrodyellow; */
  width: 30.7rem;
  /* overflow-x: scroll; */
  /* white-space: nowrap; */
  /* height: 3em; */
  /* white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden; */
  /* display: -webkit-box;
  -webkit-scrollbar: 10px */
}

/* ::-webkit-scrollbar {
  width: 10px;
} */

.food-item-description-text{
  font-size: 14px;
  font-weight: 500;
  color: rgb(73, 73, 73);
  padding: 0px 25px;
  height: fit-content;
  max-height: 7em;
  /* text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  width: 35.2em; */
  /* background-color: lightblue; */

}

.food-item-footer{
  height: 4em;
  position:absolute;
  bottom:0px;
  width: 100%;
  display: flex;
  flex-direction: row;
  /* justify-content: flex-end; */
  justify-content: center;
  align-items:center ;
  box-shadow: rgba(0, 0, 0, 0.2) 0px calc(-1px) 15px;

}

.food-item-quantity-container{
  /* background-color: lightgreen ; */
  width: 9em;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 65%;
}



.food-item-modal-add-to-cart-button{
  position: absolute;
  bottom:.85em;
  right:7px;
  display: flex;
  text-align: center;
  border: none;
  background-color: lightcoral;
  color: white;
  width: 170px;
  height: 40px;
  border-radius: 1500px;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  font-weight: 700;
  flex-wrap: wrap;
  font-size: 16px;
}

.food-item-modal-add-to-cart-button:hover{
  background-color:#d87373;
  box-shadow: transparent 0px 0px 0px 1px inset;
}
