.create-restaurant-title-container{
  width: 100%;
  background-color: #F3F4F6;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.create-restaurant-progress-bar-container{
  width: 450px;
  height:7px;
  background-color: #dbdbdb;
}

.create-restaurant-progress-bar{
  height: 100%;
  background-color: coral;
  align-self: flex-start;
  /* justify-self: flex-start; */
}

/* .create-restaurant-form-body{
  background-color:lightcyan;
  height: 700px;
} */

.create-restaurant-form-step-1-container{
  background-color: lightcyan;
  height: 600px;
  width: 40em;
  margin: 20px auto;
}

.create-restaurant-form-step-1-first-row{
  background-color: goldenrod;
  display: flex;
  justify-content: space-around;
  align-items: center;

}

.create-restaurant-label-input-container{
  display:flex;
  flex-direction: column;
  align-items: flex-start;

}

.create-restaurant-label-input-container.top-row{
  align-self: flex-start;
  justify-self: flex-start;
  margin-left: -96.5px;

}

.create-restaurant-form-step-1-third-row{
  background-color: lightcoral;
  display:flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;

}

.create-restaurant-label-input-container.third-row{
  align-self: flex-start;
  justify-self: flex-start;
  margin-left: -96.5px;

}

.one-input-per-row{
  width: 100%;
  box-sizing: border-box;
}

.create-restaurant-form-step-1-fourth-row{
  display:flex;
  flex-direction: row;
  justify-content: space-between;
}

.create-restaurant-form-step-1-left-container, .create-restaurant-form-step-1-right-container{
  width: 50%;
  background-color: lightsalmon;
}



.create-restaurant-form-restaurant-pic, .restaurant-form-restaurant-logo{
  width: 100%;
  height: 300px;
  min-height: 300px;
  object-fit: cover;
  box-sizing: border-box;
}
