#modal-content.order-confirm-payment-modal-content{
  height: 14em;
  width: 32em;
  /* background-color: lightblue; */
  border-radius: 20px;
  display: flex;
  justify-content: center;
  position: relative;
  z-index: 5;
}
