.credit-card-modal-inner-container{
  display:flex;
  flex-direction:column;
  width: 100%;
  height:100%;
  border-radius: 20px;
  align-items: center;
  justify-content: flex-start;
  /* padding-top: 10em; */


}

.credit-card-modal-x-button{
  width: 100%;
  display: flex;
  /* background-color: lightcoral; */
  height: 2.3em;
  border-radius: 20px;
  cursor:pointer
}

.add-new-card-title-container{
  /* margin-top: 2em; */
  width: 100%;
  text-align: center;
}

.payment-button-container{
  width:100%;
  height:2em;
  display: flex;
  justify-content: center;
  position: absolute;
  bottom: 1.2em;


}

.credit-card-input-label-container{
  width: 100%;
  display: flex;
  justify-content: center;
  height: fit-content;
  align-items: center;
}

.credit-card-input{
  height: 30px;
  border: 1px solid #e7e7e7;
  border-radius: 3px;
}

.add-card-button{
  display:flex;
  flex-direction: row;
  flex-wrap: nowrap;
  width:13rem;
  border: none;
  background-color: lightcoral;
  color: white;
  border-radius: 1000px;
  /* width: 100px; */
  height: 100%;
  justify-content:space-around;
  align-items: center;
  font-weight: 550;
  font-size: 16px;
}
