.order-confirmation-right-pane-main-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  /* background-color: lightgoldenrodyellow; */
  width: 25rem;
  border-left: 1.5px solid #dbd8d8;
  overflow: auto;
}

.order-summary-container{
  margin-bottom:20px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;

  height: 2.8em;
  display: flex;
}

.order-summary-title-container{
  margin-left: 10px;
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: space-between;
}

.order-confirmation-restaurant-logo-pic{
  height: 3em;
  width: 3em;
  border-radius: 50%;
}
.order-confirmation-title-container{
  display: flex;
  justify-content: flex-start;
  align-items: center;
  /* margin-left: 3px; */
}
.order-confirmation-restaurant-title-text-container{
  margin-left: 10px;
}

.order-confirmation-title-text-container-top-row{
  font-size: 12px;
}

.order-confirmation-title-text-container-bottom-row{
  width: 100%;
  height: 100%;
  text-align: left;
  display: flex;
  justify-content: flex-start;
  /* font-size: 10.5px; */
  display: flex;
  align-items: center;
  justify-content: center;
}

.order-confirmation-place-order-container{
  height: 2em;
  /* background-color: lightgreen; */
  display: flex;
  justify-content: center;
  margin-bottom: 20px
    /* align-items: center; */
}

.right-pane-place-order-button{
  display:flex;
  flex-direction: row;
  flex-wrap: nowrap;
  width: 100%;
  border: none;
  background-color: lightcoral;
  color: white;
  border-radius: 1000px;
  /* width: 100px; */
  height: 100%;
  justify-content:space-around;
  align-items: center;
}

.right-pane-place-order-button:hover{
  background-color:#d87373;
  box-shadow: transparent 0px 0px 0px 1px inset;
  cursor: pointer;
}

.right-pane-top-one-fifth-container{
  width: 85%;
  border-bottom: 1.5px solid #dbd8d8;
  margin-top: 1.2em;
}

/* 2-fifth-container */
.order-confirmation-price-breakdown-container{
  width: 85%;
  /* background-color: lightgreen; */
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  border-bottom: 1.5px solid #dbd8d8;
}

.price-breakdown-row-container{
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 2em;
  align-items: center;
}

.dasher-tip-container{
  width: 85%;
  /* background: lightblue; */
  display: flex;
  justify-content: flex-start;
  height: 9.7em;
  flex-direction: column;
  align-items: flex-start;
}

.dasher-tip-container-top-row{
  /* background-color: lightcoral; */
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.dasher-tip-container-middle-row{
  width: 100%;
  height: 3em;
  background-color: lightcyan;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.dasher-tip-container-bottom-row{
  width: 100%;
  height: 100%;
  text-align: left;
  display: flex;
  justify-content: flex-start;
  font-size: 10.5px;
  align-items: center;
  border-bottom:1.5px solid #dbd8d8;
}

.order-final-total-container{
  width: 85%;
  /* background-color: lightgreen; */
  display: flex;
  justify-content: space-between;
  height: 3em;
  align-items: center;
  border-bottom: 1.5px solid #dbd8d8;

}

.order-amount-due-container{
  width: 85%;
  /* background-color: lightgreen; */
  display: flex;
  justify-content: space-between;
  height: 3em;
  align-items: center;
}

.dasher-tip-input{
  height: 25px;
  width: 100%;
  border: none;
  border-radius: 5px;
  background-color: #F7F7F7 ;
  height: 3em;
  padding: 0 10px;
}


div.order-confirmation-errors{
  display: flex;
  justify-content: flex-start;
  list-style-type: none;
  margin: 0px;
  width:100%;
  align-items: flex-end;
  /* background-color: lightcyan; */
  padding-bottom: 0px;
}
